.projects {
    padding-top: 88px;
    padding-bottom: 138px;
}

.project-wrapper {
    display: flex;
}

.projects-left-part {
    margin-right: 254px;
}

.projects-left-part h2 {
    font-weight: 700;
    font-size: 36px;
}
