.about-wrapper {
    display: flex;
    padding-bottom: 200px;
}

.right-block {
    width: 488px;
    height: 523px;
    margin-top: 73px;
    margin-left: -176px;
    background-color: #2947A9;
    color: #fff;
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
}

.about-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 37px;
}

.about-text {
    width: 388px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 74px;
}

.about-btn {
    color: #2947A9;
    width: 219px;
    border-radius: 6px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-right: 16px;
}