.project-menu-item a {
    text-decoration: none;
    color: #C2C7D6;
    font-weight: 500;
    font-size: 24px;
}

.project-menu-item {
    margin-bottom: 20px;
}

l.project-menu-item i:last-child {
    margin-right: 0;
}