.move {
    background-color: #292E3D;
    color: #fff;
    width: 295px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    padding-right: 108px;
    padding-left: 108px;
    margin-right: 210px;
    margin-left: 88px;
}

.move:last-child {
    margin-right: 0;
    margin-left: 0;
}