.slider-element {
    background-image: url(../../assets/icons/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    padding-top: 239px;
    padding-bottom: 239px;
    font-size: 72px;    
    width: 556px;
    font-weight: 600;
}