footer {
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 20px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    margin-bottom: 32px;
}

footer span {
    color: #2947A9;
    font-weight: 500;
}

.footer-text {
    margin-bottom: 20px;
}

.newsletter input {
    width: 280px;
    height: 41px;
    border-radius: 4px;
    border: solid #E0E3EB 1px;
    margin-bottom: 42px;
    margin-right: 8px;
    vertical-align: top;
}

.footer-btn {
    font-weight: 600;
    font-size: 18px;
    width: 136px;
    height: 41px;
    background-color: #F9995D;
    color: #fff;
    padding-left: 23.5px;
    padding-right: 23.5px;
    border-radius: 4px;
    border: none;
}

.social img {
    margin-right: 20px;
}

.social img:last-child {
    margin-right: 0;
}